body {background-image: url(../images/norwegian_rose.png); text-align: center; height: 100%; font-family: Arial, Helvetica, sans-serif;}

#top {width: 960px; margin-top: 0px; margin-bottom: 5%; background-color: white; align-self: center; line-height: normal;} 

.col-2 {background-color: teal; color: white; line-height: large;}
h1 {color: white; font-size: large; text-align: center;}
.container {background-color:white; margin-top: 5%; margin-bottom: 5%; width: 960px; align-self: center;}
header {color: teal;}
#footer {margin-top: auto; background-color: #666666; color:white; margin-bottom: 0; padding: 0;
}


